/*Affects the whole document */
html,
body {
    margin: 0;

    font-family: Arial, Helvetica, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

/* main body of page - excludes the navigation bar */
#main-body {
    margin: 12px;
    max-width: 100%;
}

/* remove link formatting */
a {
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration:none;
}

/* change the navbar color */
.navbar{
    background-color: #2087fc;
}

/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
.break {
    flex-basis: 100%;
    height: 0;
  }

/* stop rows from growing beyond the width of the page. Appears to be a result of adding the 12px margin to #main-body */
.row{
    max-width:100%;
}

/* Add margin to bottom of all card columns */
.card {
    margin-bottom: 12px;
}

/* Button styling*/
.button-color{
    background-color: #ff9532;
    color:white;
    border:none;
}

/* Make all borders using the .border class thicker */
.border{
    border-width: 2px !important;
}
/* Set the color of the borders */
.border-color{
    border-color: #ff9532 !important;
}

/* Details Page */
.details-table td{
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: lightgrey solid 1px;
    border-bottom: lightgrey solid 1px;
}
.details-section-heading{
    background-color: lightgray;
    width: 100%;
    display:block;
    padding: 8px 24px 8px 24px;
}